// Define variables for your color scheme

$green: #98E0B9;
$yellow: #F1D07D;
$red: #E1B2BA;

$d-orange: #EA9059;
$l-orange: #F6B586;
$d-blue: #5894B5;
$l-blue: #8BC7E9;

$d-gray: rgb(70,70,70);
$gray: rgb(140,140,140);
$l-gray: rgb(180,180,180);
