// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

// Define fonts for body and headers
$body-font: 'Nunito', 'Helvetica', sans-serif;
$headers-font: 'Sansation', 'Nunito', 'Helvetica', sans-serif;
$headers-font-light: 'Sansation Light', 'Nunito', 'Helvetica', sans-serif;

@font-face {
  font-family: "Sansation";
  src: font-url('sansation/regular/Sansation-Regular-webfont.eot');
  src: font-url('sansation/regular/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('sansation/regular/Sansation-Regular-webfont.woff') format('woff'),
       font-url('sansation/regular/Sansation-Regular-webfont.ttf') format('truetype')
}

@font-face {
  font-family: "Sansation Light";
  src: font-url('sansation/light/Sansation-Light-webfont.eot');
  src: font-url('sansation/light/Sansation-Light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('sansation/light/Sansation-Light-webfont.woff') format('woff'),
       font-url('sansation/light/Sansation-Light-webfont.ttf') format('truetype')
}
