.documents .show-row {

  .item-row {
    p {
      margin: 0;
    }
  }

  .mobile-date {
    display: none;
  }

  .topic-title {
    align-items: center;

    p {
      padding-left: 0.6rem;
    }
  }

  .topic-ns {
    ul {
      padding-left: 1rem;

      li {
        list-style: square;
        list-style-type: square;
        padding: 0;
        margin-bottom: 0.2rem;
      }
    }
  }

  .document-type {
    color: $d-blue;

    p {
      margin-left: 0.5rem;
    }
  }

  .document-icon {
    img {
      left: 0;
      top: 0;
    }
  }

  .document-info {
    display: block !important;

    .document-info-header {
      display: flex;
      align-items: center;

      img {
        margin-right: 0.3rem;
      }
    }

    .document-tags {
      margin-top: 0.5rem;
      display: block;
      cursor: pointer;

      a {
        text-decoration: none;
        color: none;
      }

      .tag {
        border-radius: 5px;
        background-color: rgb(220,220,220);
        color: white;
        padding: 0.2rem 0.4rem;
        font-size: 0.7rem;
        line-height: 2.5;

        &:hover {
          background-color: $l-orange;
        }
      }
    }
  }

  .document-user {
    text-align: center;
    align-items: center;
    text-align: left;

    img {
      margin-right: 1rem;
    }
  }
}
