.homepage{

  .homepage-search-form{
    width: 600px;
    display: flex;

    input {
      flex: 1 0 450px;
      height: 100%;
    }
  }

  .head-lighter {
    color: $d-gray !important;
  }

  .left-margin-none {
    margin-left: 0 !important;
  }

  .flex-stuff {
    h2 {
      margin: 0;
    }
  }

  .boilerplate .container {
    width: 95% !important;
    max-width: 1200px !important;
  }
}
