.topics .show-row {

  .topic-title {
    align-items: center;
    color: $d-blue;

    p {
      padding-left: 0.75rem;
    }
  }

  .topic-doctor, .topic-laststatus {
    color: $gray;
    text-align: center;
    align-items: center;
    text-align: left;

    img {
      margin-right: 1rem;
    }
  }

  .topic-info {
    display: flex;
    flex-wrap: wrap;

    a {
      border: 1px solid white;
      font-size: 0.7rem;
      padding: 4px;
      color: $gray;
      margin: 4px;
    }
  }

  .topic-ns {
    ul {
      padding-left: 1rem;

      li {
        list-style: square;
        list-style-type: square;
        padding: 0;
        margin-bottom: 0.2rem;
      }
    }
  }

  &:hover {
    .topic-info {
      a {
        border: 1px solid rgb(230,230,230);
        border-radius: 5px;
      }
    }
  }
}
