.dash-page {
  padding-right: 160px;

  .mobile {
    display: none;
  }

  h3, h4 {
    font-family: $body-font;
    margin: 0;
    color: #C5C5C5;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }

  h3 {
    border-bottom: 1px dotted rgb(230,230,230);
    padding-bottom: 0.2rem;
  }

  .dash-topics {

    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;

    h2, h3 {
      border: none;
      padding: 0.2rem 0;
      margin: 0;
      text-align: left;
      color: white
    }

    h3 {
      margin-left: 0.5rem;
      font-size: 0.9rem;
      font-color: rgb(240,240,240);
    }

    .dash-topics-info {
      height: 60px;
      min-height: 60px;
      border-radius: 5px;
      width: 30%;
      margin-bottom: 1rem;

      &.dash-diagnosed {
        background-color: $red;
      }

      &.dash-under {
        background-color: $l-orange;
      }

      &.dash-cured {
        background-color: $green;
      }

      .dash-topic-header {
        padding: 0.4rem;
        display: flex;
        align-items: center;
      }
    }
  }

  .dash-profile {
    border-radius: 5px;
    min-height: 38vh;
    height: 38vh;
    padding: 1.5rem;
  }

  .dash-doctors {
    border-radius: 5px;
    min-height: 35vh;
    height: 35vh;
    padding: 1.5rem;
  }

  .dash-profile {
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }

  .dash-doctors {
    .doctor-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dotted rgb(230,230,230);
      padding: 1.2rem 0.6rem 0.6rem 0.6rem;

      h3 {
        padding: 0;
        border: 0;
      }

      .btn-default {
        margin: 0;
        padding: 0;
        color: $l-gray;
        border: none;
        // border-color: rgb(240,240,240);
        // border-radius: 5px;
        font-size: 13px;
      }
    }

    .doctor-list {
      font-size: 13px;
      height: 100%;
      width: 100%;
      overflow-y: scroll;

      a {
        text-decoration: none;
        color: $gray;
      }

      p {
        margin: 0;

        &.name {
          color: $d-blue;
        }

        &.smaller {
          font-size: 10px;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        max-width: 240px;

        &:hover {
          background-color: rgb(240,240,240);
        }

        li {
          margin: 0;
          padding: 0.8rem;
          max-width: 100%;
        }
      }
    }
  }

  .dash-right {
    // min-height: 38vh;
    // height: 38vh;
    padding: 1.5rem;
    border-radius: 5px;

    .dash-new-info {

      .btn {
        border:none;
        outline: none;
      }

      .dash-title {
        display: flex;
        align-item: center;
        justify-content: space-between;
        border-bottom: 1px dotted rgb(230,230,230);
        padding: 2rem 0.6rem 0.6rem 0.6rem;


        .dash-title-left {
          display: flex;
          align-items: center;

          h4:first-child {
            margin-right: 0.7rem;
          }

          .news {
            color: $d-blue;
            border-radius: 5px;
            padding: 4px;
          }
        }

        .dash-title-right {
          .btn-default {
            margin: 0;
            padding: 0;
            color: $l-gray;
            border: none;
            // border-color: rgb(240,240,240);
            // border-radius: 5px;
            font-size: 13px;
          }
        }
      }

      .dash-table {
        border-bottom: 1px solid rgb(230,230,230);
        // background: rgb(250,250,250);
      }
    }
  }
}

.show-new, .dash-topic {
  font-size: 13px;

  a {
    text-decoration: none;
    color: $gray;
  }

  ul {
    padding: 0.4rem 0.6rem;
    margin: 0;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgb(240,240,240);
    }

    li {
      padding: 0.6rem;

      &.highlight{
        color: $d-blue;
      }
    }
  }

  .dash-topic-title {
    p {
      margin: 0;
      color: $d-blue;
    }
  }

  .dash-topic-category {
    display: flex;
    align-items: center;

    .subject {
      padding-left: 0.8rem;
    }
  }
}

#dash-topic-list-diagnosed i {
  color: $red;
}

#dash-topic-list-under i {
  color: $l-orange;
}

#dash-topic-list-cured i {
  color: $green;
}

.dash-page {
  button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &:visited {
      background-color: none;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

