 <!-- Footer -->
 <footer>
  <div class="footer footer--dark">
    <div class="container">
      <div class="footer__inner">
        <a href="" class="footer__textLogo">&copy;
          <script type="text/javascript">
      var d = new Date()
      document.write(d.getFullYear())
    </script> DocPat</a>

        <div class="footer__data">
          <div class="footer__data__item">
            <div class="footer__row">
              Created by <a href="https://www.docpat.pro" target="_blank" class="footer__link">DocPat Team</a>
            </div>
            <div class="footer__row">
            Code/design by <a href="https://www.docpat.pro" target="_blank" class="footer__link">Nuno, Paulo & Fernando</a>
            </div>
          </div>
          <div class="footer__data__item">
            <div class="footer__row">Created for <a href="https://www.lewagon.com/lisbon/program" target="_blank" class="footer__link">Final Project | Coding Bootcamp</a>
            </div>
            <div class="footer__row">Special thx to <a href="https://www.lewagon.com/lisbon" target="_blank" class="footer__link">Le Wagon Lisbon Staff</a> for the support
            </div>
          </div>
          <div class="footer__data__item">
          <div class="footer__row">
            <a href="https://github.com/" target="_blank" class="fab fa-github fa-1x"> GitHub</a>
          </div>
          <div class="footer__row">
            <a href="https://twitter.com/" target="_blank" class="fab fa-twitter fa-1x"> Twitter</a>
          </div>
          <div class="footer__row">
            <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook fa-1x"> Facebook</a>
          </div>
          <div class="footer__row">
            <a href="https://www.LinkedIn.com/" class="fab fa-linkedin fa-1x"> LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>










<!-- <footer>
<div class="footer footer--dark">
    <div class="container">
      <div class="footer__inner">

  <div class="icons">
    <ul class="list-inline">
      <li><a href=""><i class="fab fa-youtube fa-2x"></i></a></li>
      <li><a href=""><i class="fab fa-instagram fa-2x"></i></a></li>
      <li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
      <li><a href=""><i class="fab fa-twitter fa-2x"></i></a></li>
    </ul>
</div>

  <div class="copyright">
    <span class="style4">Copyright &copy; 2019-
    <script type="text/javascript">
      var d = new Date()
      document.write(d.getFullYear())
    </script>
    <a href="https://www.docpat.pro/" target="_blank">DocPat</a></span><span class="style2"> </span><a href="https://www.docpat.pro/" target="_blank"></a><span class="style4">| Built by the DocPat Team from Batch #224 @ Le Wagon Lisbon - All rights reserverd.</span>
</div>
  </div>
  </div>
  </div>
</footer> -->
