<!-- Footer -->
<div class="boilerplate">
 <footer>
  <div class="footer footer--dark">
    <div class="container">
      <div class="footer__inner">
        <a href="" class="footer__textLogo">&copy;
          <script>
      var d = new Date();
      document.write(d.getFullYear());
    </script> DocPat</a>

        <div class="footer__data">
          <div class="footer__data__item">
            <div class="footer__row">
              Created by <a href="https://www.docpat.pro" target="_blank" class="footer__link">DocPat Team</a>
            </div>
            <div class="footer__row">
            Code/design by <a href="https://www.docpat.pro" target="_blank" class="footer__link">Nuno, Paulo & Fernando</a>
            </div>
          </div>
          <div class="footer__data__item">
            <div class="footer__row">Created for <a href="https://www.lewagon.com/lisbon/program" target="_blank" class="footer__link">Final Project | Coding Bootcamp</a>
            </div>
            <div class="footer__row">Special thx to <a href="https://www.lewagon.com/lisbon" target="_blank" class="footer__link">Le Wagon Lisbon Staff</a> for the support
            </div>
          </div>
          <div class="footer__data__item">
          <div class="footer__row">
            <a href="https://github.com/" target="_blank" class="fab fa-github fa-1x"></a>
          </div>
          <div class="footer__row">
            <a href="https://twitter.com/" target="_blank" class="fab fa-twitter fa-1x"></a>
          </div>
          <div class="footer__row">
            <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook fa-1x"></a>
          </div>
          <div class="footer__row">
            <a href="https://www.LinkedIn.com/" class="fab fa-linkedin fa-1x"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
