<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to 'Docs Index', patient_documents_path(current_user) %>
<%= link_to 'Docs New', new_patient_document_path(current_user) %>
