<div class="container info-page updates content">
  <div class="row text-center">
    <h2>Thank you for your interest</h2>
    <br>
    <%= image_tag('undraw_hello_aeia.svg', class: 'info-image') %>
    <br>
    <p><strong>Unfortunatelly, DocPat is currently not accepting new registrations...</strong></p>
    <br>
    <p><span>We continue to believe in our mission!</span> If you would be interesting in joining DocPat in the future please share your e-mail below and join our waiting list.</p>
    <br>

    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://docpat.us20.list-manage.com/subscribe/post?u=bc84584b0f31c281839852385&amp;id=2ff05b1c48" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to our mailing list</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bc84584b0f31c281839852385_2ff05b1c48" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->

  </div>
</div>
