<div class="container list-page updates content">
<h1>Editing Document</h1>

<%#= render 'form2', document: @document, patient: @patient %>
<%= render 'form2' %>
<%#= render 'form', post: @post %>

<%#= link_to 'Show', @document %> |
<%#= link_to 'Back', patient_documents_path %>
</div>
