<h1>Documents#new</h1>
<p>Find me in app/views/documents/new.html.erb</p>

<h1>New Document</h1>

<%= render 'form', document: @document %>
<%#= render 'form', post: @document %>

<%= link_to 'Back', documents_path %>
