.home-banner {
  background-image: url('https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80
');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}


// https://images.unsplash.com/photo-1522920395281-1162f0a570b7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1435&q=80
