.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 70px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  right: 0;
  width: 160px;
  max-height: calc(100vh - 70px);
  height: calc(100vh - 70px);
  background-color: rgb(240,240,240);

  p {
    color: $l-gray;
    font-size: 0.8rem;
    margin: 6px auto;
    text-align: center;
  }

  .current_user {
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-decoration: none;
    }
  }

  .sidebar-family {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 18px 4px;
    margin-bottom: 18px;
    border-top: 1px solid $l-gray;

    p:first-child{
      font-size: 12px;
      margin-bottom: 18px;
      text-transform: uppercase;
    }

    p {
      margin: 0 auto;
      margin-top: 4px;
      margin-bottom: 8px;
    }

    a {
      margin: 0 auto;
      margin-bottom: 6px;
      padding: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      text-decoration: none;
    }
  }

  .pat-inactive {
    filter: grayscale(100%);

    &:hover {
      filter: none;

      p {
        color: $d-blue;
        text-decoration: none;
      }

      .notif {
        color: white;
        background-color: $d-blue;
      }
    }
  }

  .pat-active {
    filter: none;

    p {
      color: $d-orange;
      text-decoration: none;
    }
  }

  .sidebar-image {
    position: relative;

    .notif {
      z-index: 2;
      position: absolute;
      color: white;
      font-size: 11px;
      font-weight: bold;
      border-radius: 5px;
      height: 22px;
      width: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      padding: 0.4rem;
      top: -16px;
      right: -11px;
      border: 1px solid rgb(240,240,240);
    }

    .notif-active {
      background-color: $l-orange;
    }

    .notif-inactive {
      color: white;
      background-color: $l-blue;
    }

    .notif-inactive:hover {
      color: white;
      background-color: $d-blue;
    }
  }
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .list-page, .dash-page {
    padding-right: 1rem;
  }
}
