.signal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  min-width: 24px;
  border-radius: 5px;
  width: 80%;

  p {
    color: white;
    margin: 0;
  }

  &.diagnosed {
    background-color: $red;
  }

  &.under_treatment {
    background-color: $l-orange;
  }

  &.cured {
    background-color: $green;
    color: $green;
  }
}

// .diagnosed {
//   color: white;
// }

// .under_treatment {
//   color: white;
// }

// .cured {
//   color: white;
// }
