.signal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  min-width: 24px;
  border-radius: 5px;
  width: 80%;
  margin-right: 0;

  p {
    color: white;
    margin: 0;
  }

  &.diagnosed {
    background-color: $red;
  }

  &.under_treatment {
    background-color: $l-orange;
  }

  &.cured {
    background-color: $green;
    color: $green;
  }
}

.signal-short-cured{
  color: $green;
}

.signal-short-diagnosed{
  color: $red;
}

.signal-short-under{
  color: $l-orange;
}

@media (max-width: 992px) {
  .signal {
    width: 48px;
    height: 48px;
  }
}

// .diagnosed {
//   color: white;
// }

// .under_treatment {
//   color: white;
// }

// .cured {
//   color: white;
// }
