.table-container {
  width: 90%;
  margin: 3rem auto;
  font-size: 0.8rem;

  .header-row {
    color: #C5C5C5;
    padding: 0.75rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid rgb(230,230,230);

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }

  .show-row {
    position: relative;
    border-bottom: 1px solid rgb(230,230,230);

    .item-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 0;
      padding: 1rem 0.75rem;

      .hidden-buttons {
        display: none;
        a {
          border: none; // 1px solid rgb(230,230,230);
          font-size: 0.7rem;
          padding: 4px;
          color: $gray;
          margin: 3px;
          z-index: 2;
        }
      }

      .col {
        display: flex;
        p {
          margin: 0.25rem 0;
        }
      }
    }

    .hidden-row {
      display: none;
    }

    &:hover {

      .hidden-buttons {
        display: flex;
        position: absolute;
        top: 5px;
        right: 5px;
      }

      .hidden-row {
        display: flex;
        align-items: flex-start;
        padding: 0.5rem;
        background-color: rgb(245,245,245);
        border-top: 1px solid white;
        margin: 0;
      }
    }

    .item-row > li, .hidden-row > li {
      padding: 1rem;
    }
  }

  @media (max-width: 992px) {
    .header-row {
      display: none;
    }
  }
}




