.table-container {
  width: 90%;
  margin: 3rem auto;
  font-size: 0.8rem;

  .header-row {
    background-color: $d-blue;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(230,230,230);
    box-shadow: 1px 1px 1px rgb(230,230,230);
    border-radius: 5px;

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }

  .show-row {
    position: relative;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border: 1px solid rgb(230,230,230);
    box-shadow: 1px 1px 1px rgb(230,230,230);
    border-radius: 5px;

    .item-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 1rem;
      padding-bottom: 1rem;
      margin-bottom: 0;

      .hidden-buttons {
        display: none;
        a {
          border: 1px solid rgb(230,230,230);
          font-size: 0.7rem;
          padding: 4px;
          color: $gray;
          margin: 3px;
        }
      }

      .col {
        display: flex;
        p {
          margin: 0.25rem 0;
        }
      }
    }

    .hidden-row {
      display: none;
    }

    &:hover {

      .hidden-buttons {
        display: flex;
        position: absolute;
        top: 5px;
        right: 5px;
      }

      .hidden-row {
        display: flex;
        align-items: flex-start;
        padding: 1rem;
        background-color: rgb(245,245,245);
        border-top: 3px solid white;
        margin: 0;
      }
    }

    .item-row > li, .hidden-row > li {
      padding: 1rem;
    }
  }

  @media (max-width: 992px) {
    .header-row {
      display: none;
    }
  }
}




