.topics {

  h2{
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    color: $d-blue;
  }

  .action-header {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &.mobile {
        display: none;
        justify-content: center;
        margin-bottom: 1rem;
      }

      a {
        font-size: 0.75rem;
        padding: 8px;
        border: 1px solid $l-gray;
        border-radius: 5px;
        color: $l-gray;
        margin: 0 5px;
      }
    }

    .search-form {
      display: flex;
      align-items: center;

      input {
        border-radius: 5px;
        font-size: 0.75rem;
        color: $l-gray;
      }

      .btn {
        margin-left: 5px;
        color: $l-gray;
      }
    }
  }

  .topic-container {
    width: 80%;
    margin: 3rem auto;
    font-size: 0.8rem;

    .header-row {
      background-color: $d-blue;
      color: white;
      padding: 0.5rem 1rem;
      border: 1px solid rgb(230,230,230);
      box-shadow: 1px 1px 1px rgb(230,230,230);
      border-radius: 5px;

      ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    }

    .topic-show {
      position: relative;
      max-width: 100%;
      margin-top: 1.5rem;
      padding: 1rem 0;
      border: 1px solid rgb(230,230,230);
      box-shadow: 1px 1px 1px rgb(230,230,230);
      border-radius: 5px;
      transition: width 2s ease-in-out 0.5s;

      .topic-row {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        margin-bottom: 0;

        .col {
          display: flex;
          p {
            margin: 0.25rem 0;
          }
        }

        .topic-title {
          align-items: center;
          color: $d-blue;

          p {
            padding-left: 0.75rem;
          }
        }

        .topic-doctor, .topic-laststatus {
          text-align: center;
          align-items: center;
          text-align: left;

          img {
            margin-right: 1rem;
          }
        }

        .signal {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 48px;
          min-width: 24px;
          border-radius: 5px;
          text-align: center;
          margin-right: 1rem;

          p {
            color: white;
            margin: 0;
          }

          &.diagnosed {
            background-color: $red;
          }

          &.under_treatment {
            background-color: $l-orange;
          }

          &.cured {
            background-color: $green;
            color: $green;
          }
        }

        // .diagnosed {
        //   color: white;
        // }

        // .under_treatment {
        //   color: white;
        // }

        // .cured {
        //   color: white;
        // }
      }

      .topic-info {
        display: flex;
        flex-wrap: wrap;

        a {
          border: 1px solid white;
          font-size: 0.7rem;
          padding: 4px;
          color: $l-gray;
          margin: 3px;
        }
      }

      .topic-hidden {
        display: none;
      }

      &:hover {
        padding-bottom: 0;

        .topic-hidden {
          display: flex;
          align-items: center;
          padding: 1rem;
          background-color: rgb(240,240,240);
          margin: 0;
          margin-top: 1rem;
        }

        .topic-info {
         a {
          border: 1px solid $l-gray;
          border-radius: 5px;
         }
        }
      }
    }

    .topic-row > li, .topic-hidden > li {
      padding: 1rem;
    }
  }
}

@media(max-width:992px){
  .website {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .header-row {
    display: none;
  }

  .signal {
    width: 48px;
  }

  .topic-info {
    a {
      font-size: 1rem;
    }
  }
}
